tags
Makefile
*~
*.o
*.so
*.lo
*.la
*.orig
*.log
*.sw?
.deps
.dirstamp
.libs
authd/authd
autom4te.cache
bandb/bandb
bandb/bantool
config.log
config.status
configure
stamp-h1
include/setup.h
libltdl/
libratbox/include/libratbox_config.h
libratbox/include/librb-config.h
libratbox/libratbox.pc
libratbox/libtool
libratbox/src/version.c
libratbox/src/version.c.last
scripts/*.tar.bz2
scripts/*.tar.gz
ircd/charybdis
ircd/lex.yy.c
ircd/version.c
ircd/version.c.last
ircd/y.tab.h
ircd/y.tab.c
ssld/ssld
tools/charybdis-mkpasswd
tools/genssl
tools/mkpasswd
tools/viconf
include/serno.h
ircd/charybdis
ircd/version.c
ircd/version.c.last
/libtool
Makefile.in
m4/libtool.m4
m4/ltargz.m4
m4/ltdl.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.dSYM/
