tags
Makefile
*~
*.o
*.so
*.lo
*.la
*.orig
*.log
*.sw?
*.gch
.deps
.dirstamp
.libs
autom4te.cache
aclocal.m4
compile
confdefs.h
config.guess
config.sub
depcomp
ltmain.sh
missing
config.log
config.status
configure
stamp-h1
scripts/*.tar.bz2
scripts/*.tar.gz
/libtool
Makefile.in
tools/m4/argz.m4
tools/m4/libtool.m4
tools/m4/ltargz.m4
tools/m4/ltdl.m4
tools/m4/ltoptions.m4
tools/m4/ltsugar.m4
tools/m4/ltversion.m4
tools/m4/lt~obsolete.m4
*.dSYM/
install-sh
ylwrap
build
