[submodule "rocksdb"]
	path = deps/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "gecko-dev"]
	path = deps/gecko-dev
	url = https://github.com/mozilla/gecko-dev.git
	branch = esr45
[submodule "boost"]
	path = deps/boost
	url = https://github.com/boostorg/boost.git
