[submodule "boost"]
	path = deps/boost
	url = https://github.com/boostorg/boost.git
[submodule "rocksdb"]
	path = deps/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "gecko-dev"]
	path = deps/gecko-dev
	url = https://github.com/mozilla/gecko-dev.git
	branch = esr45
[submodule "pbc"]
	path = pbc
	url = https://github.com/blynn/pbc.git
	branch = master
[submodule "deps/pbc"]
	path = deps/pbc
	url = https://github.com/blynn/pbc.git
