tags
Makefile
*~
*.o
*.so
*.lo
*.la
*.orig
*.log
*.sw?
.deps
.dirstamp
.libs
authd/authd
autom4te.cache
bandb/bandb
bandb/bantool
config.log
config.status
stamp-h1
include/setup.h
libratbox/include/libratbox_config.h
libratbox/include/librb-config.h
libratbox/libratbox.pc
libratbox/libtool
libratbox/src/version.c
libratbox/src/version.c.last
scripts/*.tbz2
scripts/*.tgz
servlink/servlink
src/ircd
src/lex.yy.c
src/version.c
src/version.c.last
src/y.tab.h
src/y.tab.c
ssld/ssld
tools/charybdis-mkpasswd
tools/genssl
tools/mkpasswd
tools/viconf
include/serno.h
ircd/charybdis
ircd/version.c
ircd/version.c.last
/libtool
